# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Keystores & Binaries
*.jks
*.keystore
*.apk
*.aab

# IDE files
.idea/
*.iml
.project
.classpath
.settings/

# Android Studio & OS
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log

# Generated outputs
app/release/
app/debug/
